.image-class{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    
}

.main-div{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-radius: 20px;
}

.thumbnail-class{
    height: 500px;
    width: 550px;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
}

.carosel-container{
    max-height: 100px;
}

.carousel .slider-wrapper{
    height: 800px;
   
    
}

.close-image{
    width : 30px;
    height: 30px; 
    float: right;
}

.carousel {
    text-align: center;
}
.carosel-img{
    object-fit: contain;
    display: block;
    max-width: 100%;
    max-height: 700px;
}
.images-container{
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.info-container{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    
}



.m-width{
    max-width: 70%;
}
.traveler-icon{
    width: 40px;
    height: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 50%;
    flex-wrap: wrap;
}

.container-column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}

.container-row{
    display: flex;
    flex-direction: row;
    
   
}

.pricing-container{
    box-shadow: 0px 15px 65px rgba(22, 30, 84, 0.1);
    border-radius: 20px;
    padding: 10%;
    
}

.right-info-container{
    justify-content: flex-start; 
    width: 30%;
}

.just-fl-start{
    justify-content: flex-start; 
}

.just-fl-top{
    justify-content: top; 
}

.just-fl-left{
    justify-self: left; 
}


.space-evenly{
    justify-content: space-between;
}

.gap {
    gap:20px;
}


.justify-down{
    padding-top: 6%;
}

.info-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.about-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.navigation-container{
    box-shadow: 0px 15px 65px rgba(22, 30, 84, 0.1);
    border-radius: 20px;
    padding: 5%;
    max-width: 50%;
    
}