

.homePage{
    
    margin-left: 15rem;
    margin-right: 15rem;

}

.search{
    position: relative;
    top: -90px;
}

.home-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.how-it-works{
    width: 100%;
}

.footer{
    height: 200px;
}

.logo{
    width: 300px;
}