

.homePage{
    
    margin-left: 15rem;
    margin-right: 15rem;

}

.hero{
    width: 100%;
    min-height: 700px;
    background-size: cover;
    
   
}

.home-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.hooked-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    color: #FFFF;
}


.hero-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    color: #FFFF;
   
}

.hero-text-div{
    margin-top: 7rem;
    margin-left: 15rem;
    max-width: 40%;
}

.footer{
    height: 200px;
}

.logo{
    width: 700px;
}